.git
/.openapi-generator
/.vscode
/envs/
/scripts/
README.md
/templates/

# testfiles
**/*_test.go
/examples/

# Binary output
/external/bls-zexe/target/release
/rosetta

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
